<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanye Quotes</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Freehand&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="mainContiner">
        <h1>Kanye Quotes</h1>
        <p>"<%= theQuotes %> "</p>
        <input  type="button" value="Refresh" onClick="refresh()">
        
    </div>
    <script>
        function refresh(){
              window.location.reload("Refresh")
            }
      </script>

</body>
</html>